<nav class="menu" id="nav">
  <span class="nav-item">
    <span class="icon">
      <i data-feather="search"></i>
    </span>
    <a href="https://abbassi-mouhamed.vercel.app">Profile</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="bell"></i>
    </span>
    <a href="mailto:mouhamed.abbassi@esprit.tn?subject=Contact%20from%20Website">Contact</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="star"></i>
    </span>
    <a href="#">Github</a>
  </span>
</nav>

<script>
  // Initialize Feather icons
  document.addEventListener("DOMContentLoaded", function() {
    feather.replace();
  });
</script>
